.color-m{
 background-color: #ff6b18;
 color: white; 
}


#nav a:hover {
  color: #7f8c8d !important;
}

.li-login {
  margin-right: 13px;
}


#list .card .card-body {
  padding: 3px 6px 6px 12px;
}

#list .item {
  border-bottom: 1px solid #dee2e6 !important;
  padding: 5px 0px;
}

.pointer {
  cursor: pointer;
}

#navBox a {
  padding-left: 25px;
  padding-top: 15px;
  text-decoration: none;
  color: black;
}

@media (min-width: 991.98px) {
  .item-info {
    padding-left: 0px;
  }

}





[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  color: dodgerblue;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background 300ms;
  cursor: pointer;
}

[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}


/* Checked */

[type=checkbox]:checked {
  background-color: currentcolor;
}

[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
